{% if section.settings.showhide %}
    <div> {{section.settings.about-title}} </div>
{% endif %}
{% schema %}
{
    "name": "Section Name",
    "settings" :[
        {
            "type":"text",
            "id":"about-title",
            "label" : "About Title",
            "default":"About US"
        },
        {
            "type":"checkbox",
            "id":"showhide",
            "label" : "Enable The Text",
            "default" :true
        }
    ]
}
{% endschema %}